@page "/"

<h1 class="text-blue-500 dark:text-green-500 font-bold text-5xl">Hello, world!</h1>

<div class="max-w-full prose prose-lg dark:text-green-200 text-green-200 px-2 sm:px-1 dark:prose-blockquote:text-orange-500
                 prose-blockquote:text-xl prose-headings:text-orange-500 prose-a:no-underline prose-a:text-orange-500 dark:prose-a:text-orange-500 justify-evenly">
    
    <p> This is a simple example of a Blazor WebAssembly app with Tailwind CSS and Dark Mode support.</p>
    <a href="#">Poo</a>
    <blockquote> wabba dabba doo</blockquote>
</div>
